/* AnimationFrames */
@keyframes frames {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Animate Cards on Loading */
  @keyframes animateleft {
    from {
      left: -300px;
      opacity: 0
    } to {
        left: 0;
        opacity: 1
      }
  }