.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transition: margin-left 0.5s;
  transform: translate(-50%, -50%);

  -webkit-box-reflect: below 5px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

  .pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames 0.8s linear 0s infinite;

    &:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 30px;
      background-color: red;
      border-bottom: 4px solid;
      top: -4px;
    }

    &:before {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 10px;
      height: 10px;
      border: 4px solid;
      border-radius: 50%;
      bottom: 18px;
      right: 18px;
      z-index: 1;
    }
  }
}

@import "./animations.scss";
