@import './variablesAndMixins.scss';

/* Global */
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background-color: #1f2029;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding-bottom: 100px;

  color: black;
  font-size: 15px;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: #6749b8b9;

    &:hover {
      background: #6649b8;
    }
  }
}

header{
  display: flex;
  justify-content: space-between;
}

#main {
  transition: margin-left $transition-speed;
}

h1 {
  text-shadow: #000 1px 2px 1px;

  color: white;
  opacity: 0.4;
  font-size: 5rem;
  text-align: center;
  margin: 1% auto;

  transition: $transition-speed;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  .pokemon {
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 160px;

    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
      margin-top: -2px;
    }

    .img-container {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      text-align: center;

      img {
        margin-top: 20px;
        max-width: 90%;
      }
    }

    .info {
      margin-top: 20px;
    }

    .number {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-size: 0.8em;
      padding: 5px 10px;
    }

    .name {
      margin: 15px 0 7px;
      letter-spacing: 1px;

      text-decoration: none;
      color: black;

      cursor: pointer;

      transition: $transition-speed;

      &:hover {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  h1 {
    font-size: 2.5rem;
  }
}
