@import './variablesAndMixins.scss';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $bg-primary;
  overflow-x: hidden;
  padding-top: 60px;
  transition: width $transition-speed ease;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;

    &:hover{
      filter: grayscale(0%) opacity(1);
      color: $text-secondary;
    }
  }

  .nav-link {
    padding: 8px 8px 8px;
    font-size: 20px;
    height: 60px;
    color: $text-primary;

    display: flex;
    align-items: center;

    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;
  }

  .nav-link img {
    z-index: 0;

    margin-left: 0.5rem;
    margin-bottom: 1rem;
    align-self: center;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: $bg-secondary;
    color: $text-secondary;

    cursor: pointer;
  }

  #contact a {
    @include organize-center;
    margin-top: 2rem;
  }

  #contact .fab {
    color: $text-primary;
    font-size: 32px;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #bfbfbf;

    &:hover {
      filter: grayscale(0%) opacity(1);
      color: $text-secondary;
    }
  }
}

.open-nav {
  font-size: 30px;
  cursor: pointer;
  margin: 2rem;
  width: 10rem;
  color: white;
  opacity: 0.4;
  
  filter: grayscale(100%) opacity(0.7);
  transition: $transition-speed;

  &:hover {
    filter: grayscale(0%) opacity(1);
    color: $text-secondary;
    opacity: 1;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .mySidenav {
    width: 25%;
  }

  .sidenav{
    overflow: hidden;
  }

  .sidenav .nav-link {
    justify-content: center; 

    font-size: 25px;
    padding: 8px;
  }

  .nav-link img {
    margin-left: 0;

    display: none;
  }

  @media screen and (max-width: 320px) {
    .sidenav .nav-link {
      height: 40px;
    }
  }
}
