.filter-box {
  display: flex;
  align-items: center;
}

.searchBox {
  margin: 2rem 2rem 1rem 0rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;

  background: #2f3640;
}

.searchInput {
  background: none;
  outline: none;
  float: left;
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;

  box-shadow: 0 1px 3px -2px #9098A9;
  color: white;
  font-size: 16px;
  
  width: 4rem;
  padding: 0 6px;
  height: 2.6rem;
  transition: all .2s ease;

  &:hover {
    width: 10rem;
  }

  &:focus {
    width: 10rem;
    
    border: 1px solid #E8EAED;
    border-color: #0077FF;
    box-shadow: 0 0 0 4px rgba(#0077FF, .2);
  }
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;

  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #2c3e50;

  cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  margin-top: 1rem;
  width: 2.5em;
  height: 2.8em;
  border-radius: 0.5em 0rem 0rem 0.5rem;
  overflow: hidden;

  transition: all .2s ease;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: #89d1d4;
}

@media screen and (max-width: 620px) {
  .searchBox > .searchInput {
    width: 4rem;
    padding: 0 6px;

    &:focus {
      width: 7rem;
    }
  }

  .select {
    width: 2.5em;
  }

  .searchBox:hover > .searchInput {
    width: 7rem;
    padding: 0 6px;
  }
}
