/* Disable links to await promises */
.link-text-disabled {
  pointer-events: none;
}

/* Scroll to Top */
html {
  scroll-behavior: smooth;
}

#scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 20px;

  font-size: 50px;
  transition: 600ms;

  cursor: pointer;

  color: rgb(137, 209, 212);
}

#scroll-to-top:hover {
  color: rgb(137, 163, 212);
}

/* Progress Bar Scroll */
#progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#progress-bar-container {
  width: 100%;
  height: 8px
}

#progress-bar {
  height: 4px;
  background-image: -webkit-linear-gradient(90deg, #a258ff, #89d1d4);
  background-image: linear-gradient(90deg, #a258ff, #89d1d4);
  width: 0%;

  border-radius: 2px;
}

@media screen and (max-width: 1045px) {
  #scroll-to-top {
    font-size: 2.5rem;
  }
}
